[toolchain]
anchor_version = "0.32.1"

[features]
resolution = true
skip-lint = true

[programs.devnet]
singularities_vrf = "A6Jmogct56jdyd7MGygTSvzu7f4eJgYSXiTAGBaDGw4S"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "ts-mocha -t 1000000 tests/**/*.ts"
